annotated-types==0.7.0
attrs==26.1.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
idna==3.16
isodate==0.7.2
lxml==6.1.1
more-itertools==11.1.0
platformdirs==4.9.6
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
PyJWT==2.13.0
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.2
requests-file==3.0.1
requests-toolbelt==1.0.0
simple-salesforce==1.12.9
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
zeep==4.3.2
