annotated-types==0.7.0
fakeredis==2.35.1
iniconfig==2.3.0
numpy==2.4.6
packaging==26.2
pluggy==1.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.0.3
pytest-asyncio==1.3.0
redis==7.4.0
sortedcontainers==2.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
